//-
  I am the header file which is used in basic-html.jade.
  I am the default variables table written in Javascript.
  
  My lovely variables:
    
    LANGUAGE_DEFAULT
    
    KEYWORDS_GLOBAL
      * The keywords shown at all page.

//- NOTICE: the following hyphen and the indents are necessary!
-
  var LANGUAGE_DEFAULT = "zh-CN";
  var KEYWORDS_GLOBAL = "";
