/*
 * I am the master stylesheet which will be applied on all pages.
 *
 */

@import "variables.include.styl"

.repo
  display: none
  width: 100%

body
  color: #989898
  font-size: 14px

nav
  background-color: #f1f1f1
  ul
    list-style-type: none
    margin: 0
    padding: 0
  a
    padding: 6px 20px
    display: block
    color: #989898
    font-size: 20px
    font-weight: normal
    &, &:hover, &:focus, &:active
      text-decoration: none

header
  nav
    ul
      display: table
      width: 100%
      li
        display: table-cell
        text-align: center
      a:hover
        background-color: #96abcf
        color: #e8ebee

footer
  nav
    background-color: #6f849e
    li
      float: left
    a
      padding: 5px 55px 5px 0
      color: #e8ebee

.afe-banner
  background-size: cover
  background-position: center
  height: 188px
  position: relative
  &:before
    content: ' '
    display: block
    position: absolute
    width: 100%
    height: 100%
    background-color: black
    opacity: 0.3
  .container
    height: 100%
.title-label
  text-align: center
  position: relative
  z-index: 100
  top: 35px
  left: 100px
  width: 207px
  height: 100%
  background-color: #2e4c72
  color: alpha(#e8ebee, 0.8)
  box-shadow: alpha(#2e4c72, 0.6) 2px 2px 8px
  h1
    margin: 0
    padding-top: 80px
    font-size: 28px
  h2
    font-size: 20px

.circle-frame-border
  height: 180px
  width: 180px

#wrapper
  padding: 50px 100px

  .h1container
    h1
      width: 207px
      padding: 5px 0
      text-align: center
      font-size: 22px
      display: inline-block
      background-color: #9db1d3
      color: #e8ebee

  .circle-table
    display: table
    border-collapse: separate
    border-spacing: 20px 10px
    width: 100%
    a
      display: table-cell
  .circle-row
    display: table-row
  .circlecontainer
    display: table-cell
    text-align: center
    .circle-frame-border
      margin: auto
      padding: 8px
      border-radius: 100%
      background-color: #e5eaf3
    .circle-frame
      height: 100%
      width: 100%
      overflow: hidden
      border-radius: 100%
      img
        height: 100%
    h1
      width: 207px
      padding: 5px 0
      font-size: 22px
      display: inline-block

footer
  background-color: #36557d
  color: #e8ebee
  padding-bottom: 20px
  .copyright
    position: relative
    h1
      font-size: 26px
    h2
      font-size: 18px
    ul
      padding-left: 0
      list-style-type: none
      margin-top: 20px
      >li
        margin: 0
        font-size: 16px
    p
      margin-top: 20px
      font-size: 16px
    img
      position: absolute
      left: -40px
      top: 10px

canvas.flowing
  position: absolute
  height: 50px
  width: 100%
  left: 0
