@import "variables.include.styl"

.afe-body
  background-size: cover
  background-position: center
  #wrapper
    margin: 60px 0
    width: 30%
    padding: 0
    outline: 60px alpha(white, 0.8) solid
    position: relative
    left: 100px
.afe-body > .container
  position: relative
#figue
  text-align: center
  color: white
  position: absolute
  bottom: 50px
  right: 10%
  width: 246px
  h1
    display: inline-block
    padding: 2px 30px
    font-size: 14px
    background-color: #2e4c72
#datasheet
  font-size: 16px
  font-family: $font-family-monospace
  margin: 0
  min-height: 400px
  height: 100%
  padding: 0
  background-color: alpha(white, 0.8)
  table
    margin: 0 0 10px
    background-color: #aec0db
    color: white
    border-collapse: collapse
    td
      padding: 2px 10px
  h1
    font-size: 26px
    margin: 0
  h2
    font-size: 16px
    margin: 0
  h3
    font-size: 25px
    margin: 0
  p
    font-size: 16px
    color: #808080

.back-to-fleet
  position: relative
  &:before
    display: block
    position: absolute
    content: "<<"
    margin-left: -30px
  display: inline-block
  //background-color: #36557d
  color: #557094
  padding: 2px 5px
  margin-bottom: 10px
  font-weight: 900
  &:hover
    text-decoration: none
